<is-card>
    <is-card-header
      class="d-flex justify-content-between w-100 align-items-center"
    >
      Delete Investor
    </is-card-header>
  
    <is-card-content>
      <div class="container">
       <div class="row">
          <div class="col-5 offset-2">
              Are You Sure You Want to Delete this Investor?
          </div>
       </div>
       <div class="row mt-2">
        <div class="col-2 offset-5">
            <button class="btn btn-primary" is-button (click)="onYesHandler()">Yes</button>
        </div>
       </div>
      </div>
    </is-card-content>
  </is-card>
  