<div class="container-fluid p-0">
  <div class="d-flex justify-content-between w-100 px-4 mt-3">
    <div class="form-group location-search__container">
      <input placeholder="Enter your block & area" 
             autocorrect="off" 
             autocapitalize="off" 
             spellcheck="off" 
             type="text" 
             class="location-search__input" 
             #search 
             [formControl]="searchControl">
    </div>
    <button type="button"
            is-button
            theme="primary"
            (click)="onSave()">Save address
    </button> 
  </div>
  <div class="row position-relative px-5">
    <div class="col-md-12 map-container">
      <div class="col d-flex justify-content-center align-items-center loader-container">
        <div class="is-loader"></div>
      </div>
      <agm-map [latitude]="location.latitude" 
               [longitude]="location.longitude" 
               [zoom]="zoom">
        <agm-marker 
          [latitude]="location.latitude" 
          [longitude]="location.longitude" 
          [label]="'M'" 
          [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)">
          <agm-info-window>
            <strong>InfoWindow content</strong>
          </agm-info-window>
        </agm-marker>
        </agm-map>
    </div>
  </div>
</div>
