<header
  class="container-fluid d-flex align-items-center flex-shrink-0 header h-12"
>
  <div class="container d-flex justify-content-between align-items-center">
    <div class="w-100 d-flex justify-content-between">
      <div class="w-25 justify-content-start d-flex">
        <div>
          <a href="#">
            <img src="assets/subquch-light-logo.png" class="logo" />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div>
  <div class="position-relative w-100">
    <img
      src="https://images.pexels.com/photos/920570/pexels-photo-920570.jpeg"
      class="w-100 sign__slider"
    />
    <div
      class="position-absolute w-100 h-100 d-flex justify-content-end align-items-center sign__form mr-5"
    >
      <div class="card p-2 bg-light" style="width: 28rem;">
        <div class="card-body">
          <h3
            class="card-title text-dark w-100 d-flex justify-content-center font-weight-bold mb-4"
          >
            Become Our Partner
          </h3>
          <form
            autocomplete="off"
            [formGroup]="signupForm"
            (ngSubmit)="onSubmit(formDir, submitBtn, signUpTemplate)"
            #formDir="ngForm"
          >
            <div
              class="form-group"
              [class.mb-1]="
                ((signupForm.controls['service'].errors &&
                  signupForm.controls['service'].errors.required) ||
                  signupForm.controls.service.value === 0) &&
                formDir.submitted
              "
            >
              <select class="form-control" formControlName="service">
                <option value="0" default selected>Select service...</option>
                <option
                  *ngFor="let service of availableServices"
                  value="{{ service.id }}"
                  >{{ service.name }}
                </option>
              </select>
              <div
                *ngIf="signupForm.controls.service.value === 0 &&
                  formDir.submitted
                "
                class="sign__input_error"
              >
                Service is required
              </div>
            </div>

            <div
              class="form-group"
              [class.mb-1]="
                signupForm.controls['brandName'].errors &&
                signupForm.controls['brandName'].errors.required &&
                formDir.submitted
              "
            >
              <is-input-container>
                <input
                  autocomplete="username"
                  class="sign__input"
                  type="text"
                  placeholder="Enter Brand name"
                  formControlName="brandName"
                />
              </is-input-container>
            </div>

            <div
              *ngIf="
                signupForm.controls['brandName'].errors &&
                signupForm.controls['brandName'].errors.required &&
                formDir.submitted
              "
              class="sign__input_error"
            >
              Brand name is required
            </div>

            <div
              class="form-group"
              [class.mb-1]="
                signupForm.controls['email'].errors &&
                signupForm.controls['email'].errors.required &&
                formDir.submitted
              "
            >
              <is-input-container>
                <input
                  autocomplete="username"
                  class="sign__input"
                  type="email"
                  placeholder="Enter Email id"
                  formControlName="email"
                />
              </is-input-container>
              <div
                *ngIf="
                  signupForm.controls['email'].errors &&
                  signupForm.controls['email'].errors.required &&
                  formDir.submitted
                "
                class="sign__input_error"
              >
                Email id is required
              </div>
              <div
                *ngIf="
                  signupForm.hasError('email', 'email') && formDir.submitted
                "
                class="sign__input_error"
              >
                Email id is NOT valid
              </div>
            </div>

            <div
              class="form-group"
              [class.mb-1]="
                signupForm.controls['contact'].errors &&
                signupForm.controls['contact'].errors.required &&
                formDir.submitted
              "
            >
              <is-input-container>
                <input
                  autocomplete="contact"
                  class="sign__input"
                  type="text"
                  placeholder="Enter contact number"
                  formControlName="contact"
                />
              </is-input-container>
            </div>

            <div
              *ngIf="
                signupForm.controls['contact'].errors &&
                signupForm.controls['contact'].errors.required &&
                formDir.submitted
              "
              class="sign__input_error"
            >
              Contact number is required
            </div>

            <div
              class="form-group"
              [class.mb-1]="
                signupForm.controls.password.errors && formDir.submitted
              "
            >
              <is-input-container>
                <input
                  autocomplete="contact"
                  class="sign__input"
                  type="password"
                  placeholder="Enter password"
                  formControlName="password"
                />
              </is-input-container>
            </div>

            <div
              *ngIf="
                signupForm.controls['password'].errors &&
                signupForm.controls['password'].errors.required &&
                formDir.submitted
              "
              class="sign__input_error"
            >
              Password is required
            </div>

            <div
              *ngIf="
                signupForm.controls.password.errors &&
                signupForm.controls.password.errors.minlength &&
                formDir.submitted
              "
              class="sign__input_error"
            >
              Password must contain at least 8 charaters
            </div>

            <div
              class="form-group"
              [class.mb-1]="
                (signupForm.controls.confirmPassword.errors ||
                  signupForm.controls.confirmPassword.value !==
                    signupForm.controls.password.value) &&
                formDir.submitted
              "
            >
              <is-input-container>
                <input
                  autocomplete="contact"
                  class="sign__input"
                  type="password"
                  placeholder="Enter password"
                  formControlName="confirmPassword"
                />
              </is-input-container>
            </div>

            <div
              *ngIf="
                signupForm.controls['confirmPassword'].errors &&
                signupForm.controls['confirmPassword'].errors.required &&
                formDir.submitted
              "
              class="sign__input_error"
            >
              Confirm Password is required
            </div>

            <div
              *ngIf="
                signupForm.controls.confirmPassword.errors &&
                signupForm.controls.confirmPassword.errors.minlength &&
                formDir.submitted
              "
              class="sign__input_error"
            >
              Password must contain at least 8 charaters
            </div>

            <div
              *ngIf="
                signupForm.controls.confirmPassword.value !==
                  signupForm.controls.password.value && formDir.submitted
              "
              class="sign__input_error"
            >
              Password and Confirm password should match
            </div>
            <button
              #submitBtn
              loaderPosition="after"
              is-button
              type="submit"
              class="w-100 login-form__submit-btn"
            >
              Register Now
            </button>
            <div class=" d-flex justify-content-end mt-2">
              <a routerLink="/">Already have an account?</a>
            </div>
            <div
              *ngIf="emailExists"
              class="alert alert-danger mt-2"
              role="alert"
            >
              Email Already Exists. Please Login
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- About Section -->
  <!-- <div class="w-100 d-flex bg-white justify-content-center sign__about">
    <div>
      <i class="fas fa-info-circle fa-2x text-dark sign__about__icon "></i>
      <h2 class="h2 text-dark w-25 sign__about__heading">About Us</h2>
      <p class="lead w-50 sign__about__text text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, tempora, nostrum nemo optio accusamus
        illum maxime consectetur nulla voluptatem autem beatae, facere blanditiis similique expedita eveniet
        officiis repellat.
      </p>
    </div>
  </div> -->

  <div class="position-relative w-100">
    <img
      src="https://images.pexels.com/photos/1296543/pexels-photo-1296543.jpeg"
      class="w-100 sign__slider"
    />
    <div
      class="position-absolute w-100 d-flex justify-content-center align-items-center sign__welcome h-100"
    >
      <div class="w-100 h-50">
        <h1 class="sign__section3__text1  d-flex justify-content-center">
          Interested?
        </h1>
        <h1
          class="text-white sign__section3__text2  d-flex justify-content-center"
        >
          Become Our Partners
        </h1>
        <h1
          class="text-white sign__section3__text2  d-flex justify-content-center"
        >
          & Increase Your Revenue
        </h1>
        <div class=" d-flex justify-content-center">
          <button type="button" class="sign__section3__button ">
            Register Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="font-small py-5 bg-dark">
  <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex">
      <i class="fab fa-facebook-f fa-2x mr-2"></i>
      <i class="fab fa-whatsapp fa-2x mr-2"></i>
      <i class="fab fa-instagram fa-2x mr-2"></i>
      <i class="fab fa-twitter fa-2x"></i>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-2">
    <div class="footer-copyright text-left">
      © 2018 Copyright:
      <a href="subquch.com"> www.subquch.com</a>
    </div>
  </div>
</footer>

<ng-template #signUpTemplate let-close="close" let-data="data">
  <div class="p-3">
    <p>Verification email has been sent to {{ data }}.</p>
    <p><strong>Please verify your email address.</strong></p>
    <div class="d-flex justify-content-center">
      <button
        is-button
        theme="danger"
        class="close-btn"
        (click)="close('Click on Close')"
      >
        <span>Close</span>
      </button>
    </div>
  </div>
</ng-template>
