<!-- <div
  *ngIf="loading"
  class="col h-100 d-flex justify-content-center align-items-center loader-container"
>
  <div class="is-loader"></div>
  <h6 class="ml-2">Loading Sales</h6>
</div> -->
<div>
  <is-card>
    <is-card-header>
      <h4>Projects</h4>
    </is-card-header>
    <is-card-content>
      <div class="w-100">
        <div class="d-flex justify-content-end ">
          <!-- <div class="d-flex  justify-content-start mr-5">
            <select class="form-control" (change)="onBrandChange($event)">
              <option value="0">Select a Brand</option>
              <option *ngFor="let brand of brands" [value]="brand.id">{{
                brand.name
              }}</option>
            </select>
          </div> -->
          <!-- <div class="d-flex  justify-content-start mr-5">
            <select class="form-control" (change)="onFranchiseChange($event)" style="width: 400px;">
              <option value="0">Select a Franchise</option>
              <option *ngFor="let franchise of franchisesList" [value]="franchise.franchiseId">{{
                  franchise.address
              }}</option>
            </select>
          </div> -->
          <div class="d-flex align-items-center">
              <input
                type="tesxt"
                class="form-control"
                style="height:35px;"
                placeholder="Enter Project Name"
                
              />
          </div>
          <button class="ml-2" is-button #searchBtn type="button">
            Search
          </button>
          <button class="ml-2" is-button #searchBtn type="button" (click)="onAddProjectHandler()">
            Add New
          </button>
        </div>
        <is-grid [value]="buisnesses">
          <is-grid-column field="title" header="Title" styleClass="text-dark">
            <ng-template let-buisness="rowData" isGridTemplate="body">
              <span>{{ buisness.title }}</span>
            </ng-template>
          </is-grid-column>
          <is-grid-column
            field="startDate"
            header="Start Date"
            styleClass="text-dark"
          >
            <ng-template let-buisness="rowData" isGridTemplate="body">
              <span>{{ buisness.startDate | date }}</span>
            </ng-template>
          </is-grid-column>
          <is-grid-column
            field="endDate"
            header="End Date"
            styleClass="text-dark"
          >
            <ng-template let-buisness="rowData" isGridTemplate="body">
              <span>{{ buisness.endDate | date }}</span>
            </ng-template>
          </is-grid-column>
          <is-grid-column
            field="monthlyWorth"
            header="Monthly Worth"
            styleClass="text-dark"
          >
            <ng-template let-buisness="rowData" isGridTemplate="body">
              <span>{{ buisness.monthlyWorth }}</span>
            </ng-template>
          </is-grid-column>
          <is-grid-column
            field="totalWorth"
            header="Total Worth"
            styleClass="text-dark"
          >
            <ng-template let-buisness="rowData" isGridTemplate="body">
              <span>{{ buisness.totalWorth }}</span>
            </ng-template>
          </is-grid-column>
          <is-grid-column header="Actions" styleClass="text-dark">
            <ng-template let-buisness="rowData" isGridTemplate="body">
              <i class="fa fa-eye text-info mr-2 fa-2x" (click)="onViewProjectHandler(buisness.id)"></i>
              <i class="fa fa-edit text-warn mr-2 fa-2x"></i>
              <i class="fa fa-trash text-danger mr-2 fa-2x"></i>
            </ng-template>
          </is-grid-column>
        </is-grid>
      </div>
    </is-card-content>
  </is-card>
</div>
