<div class="container-fluid bg-white py-3">
  <div class="row px-5 py-5">
    <div class="col-12 bg-light py-5">
      <h3 class="text-center">Project Details</h3>
      <div class="row mt-5 mb-3">
        <div class="col">
          <span class="project-prop">
            Project Name :
          </span>
          <span class="project-val">
            {{ buisness?.title || "Project Name" }}
          </span>
        </div>
        <div class="col">
          <span class="project-prop">
            Total Worth :
          </span>
          <span class="project-val">
            {{ buisness?.totalWorth.toLocaleString('en') || 4000000 }}
          </span>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <span class="project-prop">Disclaimer</span>
          <p class="project-val">
            {{ buisness?.disclaimer || "This is disclaimer" }}
          </p>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <span class="project-prop">Details</span>
          <p class="project-val">
            {{ buisness?.detailDescription || "This is description" }}
          </p>
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col">
          <span class="project-prop">Investors</span>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-2 offset-10 mt-1 mb-3">
          <button class="btn btn-success" is-button (click)="addInvestorHandler()">Add Investor</button>
        </div>
        <div class="col-10 offset-1 mb-5">
          <is-grid [value]="buisnessUsers">
            <is-grid-column
              field="user.firstName"
              header="First Name"
              styleClass="text-dark"
            >
              <ng-template let-buisnessUser="rowData" isGridTemplate="body">
                <span>{{ buisnessUser?.user.firstName }}</span>
              </ng-template>
            </is-grid-column>
            <is-grid-column
              field="user.lastName"
              header="Last Name"
              styleClass="text-dark"
            >
              <ng-template let-buisnessUser="rowData" isGridTemplate="body">
                <span>{{ buisnessUser?.user.lastName }}</span>
              </ng-template>
            </is-grid-column>
            <is-grid-column field="phone" header="Phone" styleClass="text-dark">
              <ng-template let-buisnessUser="rowData" isGridTemplate="body">
                <span>{{ buisnessUser?.user.phone }}</span>
              </ng-template>
            </is-grid-column>
            <is-grid-column field="email" header="Email" styleClass="text-dark">
              <ng-template let-buisnessUser="rowData" isGridTemplate="body">
                <span>{{ buisnessUser?.user.email }}</span>
              </ng-template>
            </is-grid-column>
            <!-- <is-grid-column field="monthly_investment" header="Monthly Investment" styleClass="text-dark">
              <ng-template let-buisnessUser="rowData" isGridTemplate="body">
                <span>{{ buisnessUser?.monthly_investment }}</span>
              </ng-template>
            </is-grid-column> -->
            <is-grid-column field="yearly_investment" header="Investment" styleClass="text-dark">
              <ng-template let-buisnessUser="rowData" isGridTemplate="body">
                <span>{{ buisnessUser?.yearly_investment.toLocaleString('en') }}</span>
              </ng-template>
            </is-grid-column>
            <is-grid-column  header="Share" styleClass="text-dark">
              <ng-template let-buisnessUser="rowData" isGridTemplate="body">
                <span>{{ (buisnessUser?.yearly_investment / buisness?.totalWorth)*100 }}%</span>
              </ng-template>
            </is-grid-column>
            <is-grid-column  header="Actions" styleClass="text-dark text-center">
                <ng-template let-buisnessUser="rowData" isGridTemplate="body">
                  <span>
                    <i style="cursor: pointer;" class="fa  fa-trash text-danger" (click)="deleteInvestorHandler(buisnessUser.id)"></i>
                  </span>
                </ng-template>
              </is-grid-column>
          </is-grid>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-2 offset-10">
          <button is-button class="btn btn-primary" (click)="addMonthlyReportHandler()">
            Add Monthly Report
          </button>
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col">
          <span class="project-prop">Monthly Reports</span>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-4 offset-4">
          <is-grid [value]="buisness?.reports">
            <is-grid-column
              field="uploadDate"
              header="Date"
              styleClass="text-dark"
            >
              <ng-template let-report="rowData" isGridTemplate="body">
                <span>{{ report?.uploadDate | date}}</span>
              </ng-template>
            </is-grid-column>
            <is-grid-column  header="Actions" styleClass="text-dark text-center">
              <ng-template let-report="rowData" isGridTemplate="body">
                <span>
                  <i style="cursor: pointer;" class="fa  fa-eye text-danger" (click)="viewReportHandler(report?.url)"></i>
                </span>
              </ng-template>
            </is-grid-column>
            </is-grid>
        </div>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col">
          <span class="project-prop">Project Images</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4" *ngFor="let image of buisness?.images">
          <div class="card">
            <img
              class="card-img-top"
              [src]="image?.imageUrl"
              alt="Card image cap"
              height="250px"
            />
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>
