<div class="container-fluid bg-white py-3 h-100">
  <div class="row px-5 py-5">
    <div class="col-12 bg-light py-5">
      <h3 class="text-center">Project Details</h3>
      <div class="row mt-5 mb-3">
        <div class="col">
          <span>
            Project Name :
          </span>
          <span>
            {{buisness?.title || 'Project Name'}}
          </span>
        </div>
        <div class="col">
          <span>
            Total Worth :
          </span>
          <span>
            {{buisness?.totalWorth || 4000000}}
          </span>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <span>Disclaimer</span>
          <p>
            {{buisness?.disclaimer || 'This is disclaimer'}}
          </p>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <span>Details</span>
          <p>
           {{buisness?.detailDescription || 'This is description'}}
          </p>
        </div>
      </div>
      <div class="row mt-3 mb-2">
          <div class="col">
              <span>Project Images</span>
          </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="card" >
            <img
              class="card-img-top"
              src="https://images.pexels.com/photos/2785523/pexels-photo-2785523.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="Card image cap"
            />
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              class="card-img-top"
              src="https://images.pexels.com/photos/2785523/pexels-photo-2785523.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="Card image cap"
            />
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              class="card-img-top"
              src="https://images.pexels.com/photos/2785523/pexels-photo-2785523.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="Card image cap"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
