<div class="w-100 h-100 d-flex justify-content-center align-items-center mt-5">
    <div class="col-md-4 col-sm-12 col-xs-12">
  
      <div class="card-header text-white login-form__bg-blue text-center">
          <h3 class="mb-0">Reset Password</h3>
      </div>
  
      <div class="card pt-4 pl-3 pr-3 pb-4">
  
          <form 
              autocomplete="off"
              [formGroup]="passwordForm" 
              (ngSubmit)="onLoginSubmit(formDir)" 
              #formDir="ngForm">
  
              <div class="form-group"
                [class.mb-1]="passwordForm.controls['password'].errors && passwordForm.controls['password'].errors.required && formDir.submitted">
  
                <is-input-container label="Password">
                  <input 
                    autocomplete="fakeName"
                    class="login-form__input"
                    type="password"
                    placeholder="Password"
                    formControlName="password">
                </is-input-container>
              </div>
              <br>
              <button 
                #submitBtn
                loaderPosition="after"
                is-button
                type="submit" 
                class="w-100 login-form__submit-btn">Reset
              </button>
  
          </form>
      </div>
    </div>
  </div>
  
