:host {
  ::ng-deep {
    .is-input__label {
      font-size: 14px;
    }
  }
}

.login-form {
  &__bg-blue {
    background-color: #52cdec;
    font-size: 16px;
  }

  &__input {
    font-size: 12px;

    &_error {
      color: red;
    }
  }

  &__submit-btn {
    font-size: 16px;
  }
}
