@import '~@angular/cdk/overlay-prebuilt.css';
@import 'app/styles/main';
@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: Montserrat;
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: RalewayBold;
  src: url("/assets/fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: RalewayLight;
  src: url("/assets/fonts/Raleway-Light.ttf") format("truetype");
}

$font-family: 'RalewayLight', Helvetica, sans-serif;

html,
body {
@import 'app/lib/core/theming/aurea-skin/theming';
@import 'app/lib/core/theming/aurea-skin/table';

  font-family: $font-family;
  color: map-get($is-dark, 3);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
  background: $main-bg-color;
}

input[type='text'],
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

button {
  cursor: pointer;
}

* {
  outline: none !important;
  box-sizing: border-box;
}

.pac-container {
  margin-top: 5px;
  z-index: 9999 !important;
} 

.is-grid-column__title {
  font-size: 22px !important;
}

.is-grid__row--data {
  height: 3.4rem !important;
}

.is-grid-table-body__cell-data {
  font-size: 17px !important;
}

.project-prop {
  font-size: 20px !important;
  font-weight: bold;
}

.project-val {
  font-size: 20px !important;
  font-weight: 200;
}