<div class="container mt-5 mb-2">
    <div class="row mt-5 ">
        <div class="col-4 offset-4">
          <span>
            {{monthlyReportFile?.name || ''}}
          </span>
        </div>
      </div>
  <div class="row mt-2 ">
    <div class="col-4 offset-4">
      <input type="file" style="display: none;" #fileInput (change)="reportFileChangeHandler($event)">
      <button is-button class="btn btn-primary" (click)="uploadReportHandler()">
        Upload Report
      </button>
    </div>
  </div>
  <div class="row mt-2 ">
      <div class="col-4 offset-8">
        <button is-button class="btn btn-primary" (click)="saveReportHandler()">
          Save
        </button>
      </div>
    </div>
</div>
